<!DOCTYPE html>

<html>
    <head>
        <title>.:FATCON - Manager:.</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        librerias-->
        <link rel="stylesheet" href="../lib/bootstrap_3.3.6/css/bootstrap.css?${pom.version}">         
        <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css?${pom.version}" />
        <script src="../lib/jquery-1.11.1/jquery-1.11.1.min.js?${pom.version}" type="text/javascript"></script>
        <script type="text/javascript"  src="../lib/bootstrap_3.3.6/js/bootstrap.min.js?${pom.version}"></script>     
        <script src="../lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js?${pom.version}" type="text/javascript"></script>
        <script src="../frontEnd/utilities/variables.js?${pom.version}" type="text/javascript"></script>
        <script src="../frontEnd/utilities/utilities.js?${pom.version}" type="text/javascript"></script>
        <script src="../lib/js/jquery.blockUI.js?${pom.version}"></script>
        <link rel="stylesheet" href="../lib/css/productionOrder.css?${pom.version}" />
        <script src="../frontEnd/productionOrders/productionOrders.js?${pom.version}" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <div data-url="panel-responsive-page2" data-role="page" class="jqm-demos ui-responsive-panel" data-theme="b" 
                 id="panel-responsive-page2" data-title=".:FATCON - Manager:.">
                
                <!--Codigo de mensaje-->
                <div data-role="popup" id="messages" data-overlay-theme="a" data-theme="b" 
                     data-dismissible="true" style="width:100%;
                     max-height:60%;">
                    <div data-role="header" data-theme="a">
                        <center>
                            <p id="titleMessage" class="titleMessage">        
                            </p>
                        </center>
                        </br>
                    </div>
                    <div role="main" class="ui-content">    
                        </br></br>
                        <center>
                            <p id="contentMessage" class="contentMessage"></p>
                        </center>
                        </br>
                    </div>
                </div>
                
                 <!--Codigo de mensaje-->
                <center>
                    <div data-role="popup" id="orderDetailPopUp" data-overlay-theme="a" data-theme="b" 
                     data-dismissible="false" style="width:90%;
                     max-height:20%;">
                        <div data-role="header" data-theme="a">
                            <center>
                                <p id="detailTitle" class="titleMessage">        
                                </p>
                            </center>
                        </div>
                        <div role="main" class="ui-content">    
                            <center>
                                <p id="detailMessage" class="contentMessage"></p>
                                <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back"
                                   style="width: 300px;">Cerrar</a>
                            </center>
                        </div>
                    </div>
                </center>
                
                <table data-role="table" id="tableOrders" data-mode="reflow" 
                       class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" 
                       >
                    <thead>
                        <tr class="ui-bar-d">
                            <th data-priority="1" class="titleRowProductionOrder">No Orden</th>
                            <th data-priority="2" class="titleRowProductionOrder">Descripción</th>
                            <th data-priority="5" class="titleRowProductionOrder">Fecha de Inicio</th>
                            <th data-priority="4" class="titleRowProductionOrder">Fecha Finalización</th>
                            <th data-priority="3" class="titleRowProductionOrder">Estado</th>
                            <th data-priority="3" class="titleRowProductionOrder">Admin</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTableOrders" >
                        <tr class="rowProductionOrder">
                            <th ></th>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td >
                                <a href="#"  
                                   class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b">Iniciar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>

