<!DOCTYPE html>

<html>
    <head>
        <title>.:FATCON - Manager:.</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        librerias-->
        <link rel="stylesheet" href="../lib/bootstrap_3.3.6/css/bootstrap.css">         
        <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="../lib/jquery-1.11.1/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script type="text/javascript"  src="../lib/bootstrap_3.3.6/js/bootstrap.min.js"></script>     
        <script src="../lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
        <script src="../frontEnd/utilities/variables.js" type="text/javascript"></script>
        <script src="../frontEnd/utilities/utilities.js" type="text/javascript"></script>
        <script src="../lib/js/jquery.blockUI.js"></script>
        <link rel="stylesheet" href="../lib/css/stopProduction.css" />
        <script src="../frontEnd/stop/stopProduction.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <div data-url="pageStop" data-role="page" class="pageStop" data-theme="b" 
                 id="panel-responsive-page2" data-title=".:FATCON - Manager:.">
                <div align="center" style="vertical-align: middle;">
                    <div data-role="header" style="height: 50px; " data-theme="b">
                        <div class="titleMainPage" >Paro de Fábrica</div>
                        
                    </div><!-- /header -->
                    <div role="main" class="ui-content jqm-content jqm-fullwidth" data-theme="b">
                        <center>
                            <p class="labelText" style="font-size: 20px; font-weight: bold;" >
                                Datos del Operario
                            </p>
                        </center>
                        <label class="labelText">Nombre:</label>
                        <label id="nameUser"  style="color: #FFF;"></label>
                        </br>
                        <label class="labelText">Cargo:</label>
                        <label id="positionUser" style="color: #FFF;"></label>
                        </br></br>
                        
                        
                    </div><!-- /content -->
                    
               
                </div>
            </div>
        </div>
    </body>
</html>

